Notes

Name: Unless you have a well-defined dataset with historical prices for specific car models, using the name may not be practical.

Seller Type: While the seller type can influence the price, it might not be a primary factor, and including it may lead to overcomplicating the model.

# Project I ML 
### Yahia Ehab Mohamed 7037125
### Ahmed Shehata 7005537

## Data Preparation

In [1]:
import pandas as pd
import numpy as np

train_data = pd.read_csv('Dataset_ML/Train.csv')
test_data = pd.read_csv('Dataset_ML/Test.csv')

train_data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner

## Data Exploration

### Encoding

#### Label Encode

In [2]:
#Apply One Hot Encoding
train_data = pd.get_dummies(train_data, columns=['transmission', 'owner','fuel'])
test_data = pd.get_dummies(test_data, columns=['transmission', 'owner','fuel'])

train_data.head()

,name,year,selling_price,km_driven,seller_type,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol
0,Maruti Swift Dzire VDI,2014,450000,145500,Individual,0,1,1,0,0,0,0,0,1,0,0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Individual,0,1,0,0,1,0,0,0,1,0,0
2,Honda City 2017-2020 EXi,2006,158000,140000,Individual,0,1,0,0,0,0,1,0,0,0,1
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Individual,0,1,1,0,0,0,0,0,1,0,0
4,Maruti Swift VXI BSIII,2007,130000,120000,Individual,0,1,1,0,0,0,0,0,0,0,1

### Explore Data Set

In [3]:
train_data.head()

,name,year,selling_price,km_driven,seller_type,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol
0,Maruti Swift Dzire VDI,2014,450000,145500,Individual,0,1,1,0,0,0,0,0,1,0,0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Individual,0,1,0,0,1,0,0,0,1,0,0
2,Honda City 2017-2020 EXi,2006,158000,140000,Individual,0,1,0,0,0,0,1,0,0,0,1
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Individual,0,1,1,0,0,0,0,0,1,0,0
4,Maruti Swift VXI BSIII,2007,130000,120000,Individual,0,1,1,0,0,0,0,0,0,0,1

In [4]:
test_data.head()

,name,year,selling_price,km_driven,seller_type,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner,fuel_CNG,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol
0,Maruti 800 AC,2007,60000,70000,Individual,0,1,1,0,0,0,0,0,0,0,0,1
1,Maruti Wagon R LXI Minor,2007,135000,50000,Individual,0,1,1,0,0,0,0,0,0,0,0,1
2,Hyundai Verna 1.6 SX,2012,600000,100000,Individual,0,1,1,0,0,0,0,0,1,0,0,0
3,Datsun RediGO T Option,2017,250000,46000,Individual,0,1,1,0,0,0,0,0,0,0,0,1
4,Honda Amaze VX i-DTEC,2014,450000,141000,Individual,0,1,0,0,1,0,0,0,1,0,0,0

### Check For Missing Values

In [5]:
train_data.info()

train_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   name                        8128 non-null   object
 1   year                        8128 non-null   int64
 2   selling_price               8128 non-null   int64
 3   km_driven                   8128 non-null   int64
 4   seller_type                 8128 non-null   object
 5   transmission_Automatic      8128 non-null   uint8
 6   transmission_Manual         8128 non-null   uint8
 7   owner_First Owner           8128 non-null   uint8
 8   owner_Fourth & Above Owner  8128 non-null   uint8
 9   owner_Second Owner          8128 non-null   uint8
 10  owner_Test Drive Car        8128 non-null   uint8
 11  owner_Third Owner           8128 non-null   uint8
 12  fuel_CNG                    8128 non-null   uint8
 13  fuel_Diesel                 8128 non-null   uint8
 14  fuel_LPG                    8128 non-null   uint8
 15  fuel_Petrol                 8128 non-null   uint8
dtypes: int64(3), object(2), uint8(11)
memory usage: 404.9+ KB

,year,selling_price,km_driven,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol
count,8128.000000,8.128000e+03,8.128000e+03,8128.000000,8128.000000,8128.000000,8128.000000,8128.000000,8128.000000,8128.000000,8128.000000,8128.000000,8128.000000,8128.000000
mean,2013.804011,6.382718e+05,6.981951e+04,0.129183,0.870817,0.650714,0.021407,0.258981,0.000615,0.068282,0.007013,0.541585,0.004675,0.446727
std,4.044249,8.062534e+05,5.655055e+04,0.335423,0.335423,0.476774,0.144747,0.438102,0.024796,0.252246,0.083453,0.498298,0.068220,0.497185
min,1983.000000,2.999900e+04,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2011.000000,2.549990e+05,3.500000e+04,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2015.000000,4.500000e+05,6.000000e+04,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,2017.000000,6.750000e+05,9.800000e+04,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,2020.000000,1.000000e+07,2.360457e+06,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
test_data.info()

test_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   name                        4340 non-null   object
 1   year                        4340 non-null   int64
 2   selling_price               4340 non-null   int64
 3   km_driven                   4340 non-null   int64
 4   seller_type                 4340 non-null   object
 5   transmission_Automatic      4340 non-null   uint8
 6   transmission_Manual         4340 non-null   uint8
 7   owner_First Owner           4340 non-null   uint8
 8   owner_Fourth & Above Owner  4340 non-null   uint8
 9   owner_Second Owner          4340 non-null   uint8
 10  owner_Test Drive Car        4340 non-null   uint8
 11  owner_Third Owner           4340 non-null   uint8
 12  fuel_CNG                    4340 non-null   uint8
 13  fuel_Diesel                 4340 non-null   uint8
 14  fuel_Electric               4340 non-null   uint8
 15  fuel_LPG                    4340 non-null   uint8
 16  fuel_Petrol                 4340 non-null   uint8
dtypes: int64(3), object(2), uint8(12)
memory usage: 220.5+ KB

,year,selling_price,km_driven,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner,fuel_CNG,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol
count,4340.000000,4.340000e+03,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000,4340.000000
mean,2013.090783,5.041273e+05,66215.777419,0.103226,0.896774,0.652535,0.018664,0.254839,0.003917,0.070046,0.009217,0.496083,0.000230,0.005300,0.489171
std,4.215344,5.785487e+05,46644.102194,0.304289,0.304289,0.476220,0.135349,0.435821,0.062471,0.255254,0.095571,0.500042,0.015179,0.072613,0.499940
min,1992.000000,2.000000e+04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2011.000000,2.087498e+05,35000.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2014.000000,3.500000e+05,60000.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2016.000000,6.000000e+05,90000.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,2020.000000,8.900000e+06,806599.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Drop non matching rows

In [7]:
#Drop fuel_Electric column from test set as it is not present in train set
test_data.drop(['fuel_Electric'], axis=1, inplace=True)

#### Drop Nan

In [8]:
#Drop Nan values from train set
train_data.dropna(inplace=True)

#Drop Nan values from test set
test_data.dropna(inplace=True)

## Linear Regression

### Model Setup

#### Data Split

In [9]:
x_train = train_data.drop(['selling_price','name','seller_type'], axis=1)
y_train = train_data['selling_price']

x_test = test_data.drop(['selling_price','name','seller_type'], axis=1)
y_test = test_data['selling_price']

### Multi-Feature Equation

#### Train

In [10]:
# Linear Regression
from sklearn.linear_model import LinearRegression
model_LR = LinearRegression()

model_LR.fit(x_train, y_train)

y_pred_LR = model_LR.predict(x_test)

#### Test

In [11]:
yPred_LR = model_LR.predict(x_test)

yPred_LR

array([ -9586.42786655,  12461.99727665, 558306.60984841, ...,
       -15044.2528224 , 748710.94063465, 427091.47583121])

#### Accuracy Comparison

In [12]:
#RMSE & MSE
from sklearn.metrics import mean_squared_error
mse_LR = mean_squared_error(y_test,yPred_LR)
rmse_LR = np.sqrt(mse_LR)
print("MSE: ",mse_LR)
print("RMSE: ",rmse_LR)

#MAE
from sklearn.metrics import mean_absolute_error
mae_LR = mean_absolute_error(y_test,yPred_LR)
print("MAE: ",mae_LR)

MSE:  230276264993.2554
RMSE:  479871.09205833124
MAE:  282071.3151055223

### Gradient Descent

c:\Users\Yahia\AppData\Local\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

(4340, 13)

#### Accuracy Comparison

## Polynomial Regression

In [14]:
# #Polynomial Regression
# from sklearn.preprocessing import PolynomialFeatures
# from sklearn.linear_model import LinearRegression

# poly_reg = PolynomialFeatures()
# x_train_poly = poly_reg.fit_transform(x_train)
# x_test_poly = poly_reg.fit_transform(x_test)

# rmse_Vals = []

# for i in range(1,5):
#     poly_reg = PolynomialFeatures(degree=i)
#     x_train_poly = poly_reg.fit_transform(x_train)
#     x_test_poly = poly_reg.fit_transform(x_test)
#     model_poly = LinearRegression()
#     model_poly.fit(x_train_poly, y_train)
#     y_pred_poly = model_poly.predict(x_test_poly)
#     rmse_Vals.append(np.sqrt(mean_squared_error(y_test,y_pred_poly)))
    
# #graph with points for the rmse values
# import matplotlib.pyplot as plt

# plt.figure(figsize=(10,6))
# plt.plot(range(1,5), rmse_Vals,marker='o')
# plt.title('RMSE vs Degree of Polynomial')
# plt.xlabel('Degree of Polynomial')
# plt.ylabel('RMSE')
# plt.grid(True)
# plt.show()