Notes

Name: Unless you have a well-defined dataset with historical prices for specific car models, using the name may not be practical.

Seller Type: While the seller type can influence the price, it might not be a primary factor, and including it may lead to overcomplicating the model.

# Project I ML 
### Yahia Ehab Mohamed 7037125
### Ahmed Shehata 7005537

## Data Preparation

In [1]:
import pandas as pd
import numpy as np

train_data = pd.read_csv('Dataset_ML/Train.csv')
test_data = pd.read_csv('Dataset_ML/Test.csv')

## Data Exploration

In [46]:
import numpy as np

# Calculate Q1 and Q3
Q1 = np.percentile(train_data['selling_price'], 25)
Q3 = np.percentile(train_data['selling_price'], 75)

# Calculate the IQR
IQR = Q3 - Q1

# Define the lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Find outliers
outliers = (train_data['selling_price'] < lower_bound) | (train_data['selling_price'] > upper_bound)

# Indexes of outlier data points
outlier_indices = np.where(outliers)[0]
print("#outliers ",len(outlier_indices))
print("length of set",len(train_data))

# Values of outlier data points
#outlier_values = train_data[outlier_indices]

print("Outlier Indices:", outlier_indices)

#print("Outlier Values:", outlier_values)

#outliers  600
length of set 8128
Outlier Indices: [  41   47   49   55   57   58   59   60   75   82  110  131  132  133
  134  135  136  137  138  139  140  141  142  145  146  148  151  156
  158  163  165  166  167  170  187  257  288  350  362  370  371  372
  374  375  384  385  388  409  410  411  413  414  423  424  427  452
  468  470  526  550  569  595  600  646  647  648  650  651  660  661
  664  681  742  906  970 1007 1039 1057 1060 1063 1064 1065 1066 1067
 1071 1073 1075 1077 1078 1079 1081 1082 1091 1092 1095 1096 1097 1098
 1100 1101 1110 1111 1114 1115 1116 1117 1119 1120 1129 1130 1133 1134
 1135 1136 1138 1139 1148 1149 1152 1255 1360 1397 1410 1530 1540 1561
 1562 1563 1564 1572 1586 1590 1636 1674 1676 1689 1709 1710 1711 1713
 1714 1723 1724 1727 1748 1752 1767 1821 1828 1830 1834 1835 1857 1858
 1859 1860 1863 1871 1872 1906 1923 1969 1977 1978 1979 1980 1984 1989
 1990 1993 1994 2012 2038 2106 2109 2129 2131 2135 2137 2229 2397 2537
 2619 2622 2630 2631 2632 2634 2635 2644 2645 2648 2657 2663 2664 2665
 2667 2668 2677 2678 2681 2702 2704 2705 2795 2823 2826 2827 2828 2829
 2832 2840 2866 2881 2918 2938 2943 3066 3078 3079 3080 3082 3083 3092
 3093 3096 3110 3111 3184 3214 3236 3237 3238 3239 3240 3241 3242 3243
 3245 3248 3251 3351 3352 3357 3360 3392 3408 3409 3410 3412 3413 3422
 3423 3426 3449 3456 3516 3517 3518 3520 3521 3530 3531 3534 3542 3572
 3605 3607 3611 3686 3725 3749 3775 3831 3832 3833 3835 3836 3845 3846
 3849 3871 3938 3964 3987 4019 4030 4080 4083 4086 4089 4090 4091 4093
 4097 4101 4136 4179 4180 4195 4196 4208 4215 4216 4217 4219 4220 4229
 4230 4233 4234 4235 4236 4238 4239 4248 4249 4252 4255 4256 4257 4259
 4260 4269 4270 4273 4320 4321 4322 4324 4325 4334 4335 4338 4356 4364
 4375 4377 4380 4383 4384 4393 4395 4399 4414 4415 4416 4418 4419 4428
 4429 4432 4504 4511 4525 4527 4589 4670 4671 4675 4676 4678 4680 4682
 4704 4706 4707 4738 4739 4753 4757 4758 4763 4766 4772 4782 4785 4787
 4788 4789 4791 4796 4799 4815 4816 4817 4819 4820 4829 4830 4833 4851
 4940 4941 4945 4950 4951 4952 5020 5036 5077 5083 5084 5085 5087 5088
 5097 5098 5101 5124 5126 5188 5245 5246 5247 5248 5249 5252 5253 5255
 5256 5257 5258 5259 5261 5262 5283 5312 5318 5321 5355 5430 5506 5511
 5528 5538 5614 5615 5616 5618 5619 5628 5629 5632 5647 5710 5774 5823
 5828 5836 5858 5897 5985 6042 6043 6044 6046 6103 6104 6166 6167 6168
 6170 6171 6180 6181 6184 6213 6215 6217 6220 6248 6255 6258 6279 6282
 6296 6297 6308 6327 6364 6371 6456 6468 6554 6555 6556 6558 6559 6568
 6569 6572 6573 6574 6575 6577 6578 6587 6588 6591 6638 6681 6689 6690
 6691 6693 6694 6703 6704 6707 6720 6724 6820 6881 6895 6900 6903 6959
 6960 6961 6963 6964 6973 6974 6977 6989 6999 7007 7047 7077 7129 7174
 7176 7178 7189 7324 7325 7326 7331 7337 7340 7343 7368 7370 7374 7379
 7411 7447 7477 7495 7506 7508 7516 7522 7561 7596 7661 7699 7700 7701
 7702 7703 7705 7709 7710 7711 7713 7716 7744 7747 7749 7756 7757 7772
 7775 7792 7797 7808 7840 7858 7859 7860 7862 7863 7872 7873 7876 7892
 7906 7919 7920 7922 7925 7930 7931 7949 7967 7973 8058 8108]

In [2]:
#Change type of name , fuel , seller_type , transmission , owner to category
#to make it easier to convert to numerical values

train_data['fuel'] = train_data['fuel'].astype('category')
train_data['fuel'] = train_data['fuel'].cat.codes

train_data['transmission'] = train_data['transmission'].astype('category')
train_data['transmission'] = train_data['transmission'].cat.codes

train_data['owner'] = train_data['owner'].astype('category')
train_data['owner'] = train_data['owner'].cat.codes

train_data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti Swift Dzire VDI,2014,450000,145500,1,Individual,1,0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,1,Individual,1,2
2,Honda City 2017-2020 EXi,2006,158000,140000,3,Individual,1,4
3,Hyundai i20 Sportz Diesel,2010,225000,127000,1,Individual,1,0
4,Maruti Swift VXI BSIII,2007,130000,120000,3,Individual,1,0

In [3]:
#Change type of name , fuel , seller_type , transmission , owner to category
#to make it easier to convert to numerical values

test_data['fuel'] = test_data['fuel'].astype('category')
test_data['fuel'] = test_data['fuel'].cat.codes

test_data['transmission'] = test_data['transmission'].astype('category')
test_data['transmission'] = test_data['transmission'].cat.codes

test_data['owner'] = test_data['owner'].astype('category')
test_data['owner'] = test_data['owner'].cat.codes

test_data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,4,Individual,1,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,4,Individual,1,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,1,Individual,1,0
3,Datsun RediGO T Option,2017,250000,46000,4,Individual,1,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,1,Individual,1,2

### Explore Data Set

### Check For Missing Values

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   int8
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   int8
 7   owner          8128 non-null   int8
dtypes: int64(3), int8(3), object(2)
memory usage: 341.4+ KB

In [5]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   int8
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   int8
 7   owner          4340 non-null   int8
dtypes: int64(3), int8(3), object(2)
memory usage: 182.4+ KB

#### Drop Nan

In [6]:
#Drop Nan values from train set
train_data.dropna(inplace=True)

#Drop Nan values from test set
test_data.dropna(inplace=True)

## Linear Regression

### Model Setup

#### Data Split

In [7]:
#Split the dataset into train and test set
x_train = train_data.drop(['selling_price','name','seller_type'], axis=1)
y_train = train_data['selling_price']

x_test = test_data.drop(['selling_price','name','seller_type'], axis=1)
y_test = test_data['selling_price']

x_train.head()

   year  km_driven  fuel  transmission  owner
0  2014     145500     1             1      0
1  2014     120000     1             1      2
2  2006     140000     3             1      4
3  2010     127000     1             1      0
4  2007     120000     3             1      0

### Multi-Feature Equation

#### Train

In [37]:

y_train_mean = sum(y_train)/len(y_train.index)
print(y_train_mean)

ones = np.ones((x_train.shape[0],1),dtype=int)
x_train_matrix_with_ones = np.hstack((ones,x_train))


x_train_Transpose = x_train_matrix_with_ones.T


transpose_times_x_train = np.dot(x_train_Transpose,x_train_matrix_with_ones) #cool math aya explained to me

inverse_trans_dot_xTrain = np.linalg.inv(transpose_times_x_train)
transpose_times_y_train = np.dot(x_train_Transpose,y_train)
coeffiecients = np.dot(inverse_trans_dot_xTrain,transpose_times_y_train)
print(coeffiecients)

638271.8077017716
      year  km_driven  fuel  transmission  owner
0     2014     145500     1             1      0
1     2014     120000     1             1      2
2     2006     140000     3             1      4
3     2010     127000     1             1      0
4     2007     120000     3             1      0
...    ...        ...   ...           ...    ...
8123  2013     110000     3             1      0
8124  2007     119000     1             1      1
8125  2009     120000     1             1      0
8126  2013      25000     1             1      0
8127  2013      25000     1             1      0

[8128 rows x 5 columns]
----------
[-9.08632306e+07  4.61900638e+04 -1.07715696e+00 -1.78090198e+05
 -1.25228429e+06 -1.68563451e+04]

#### Test

In [40]:
#Predict the train set
x_test_with_ones = np.hstack((np.ones((x_test.shape[0],1),dtype=int),x_test))


yPred_LR = np.dot(x_test_with_ones,coeffiecients)


y_testArr = np.array(y_test)
abs_residual_err =  np.abs(y_testArr - yPred_LR)
abs_residual_err

array([259818.71211628, 313275.57283305,  66912.50850363, ...,
       265154.31535436, 136380.68384825,  23206.57058955])

#### Accuracy Comparison

In [41]:
#RMSE & MSE
from sklearn.metrics import mean_squared_error
mse_LR = mean_squared_error(y_test,yPred_LR)
rmse_LR = np.sqrt(mse_LR)
print("MSE: ",mse_LR)
print("RMSE: ",rmse_LR)

#MAE
from sklearn.metrics import mean_absolute_error
mae_LR = mean_absolute_error(y_test,yPred_LR)
print("MAE: ",mae_LR)

MSE:  218929406055.62943
RMSE:  467898.9271793957
MAE:  312976.0537353477

#### Computation of Residual Error

In [11]:
residuals_LR = y_test - yPred_LR

print(residuals_LR)

#Plot the residuals using residual plot
import matplotlib.pyplot as plt
plt.scatter(yPred_LR, residuals_LR)
plt.axhline(0, color='red', linestyle='dashed')
plt.xlabel('Predicted Values')
plt.ylabel('Residuals')
plt.title('Residual Plot')
plt.show()

### Gradient Descent

In [12]:
import numpy as np

# Generate some synthetic data for demonstration purposes
np.random.seed(0)
X = 2 * np.random.rand(100, 3)  # 100 data points with 3 features
y = 4 + np.dot(X, np.array([3, 2, 1])) + np.random.randn(100)

# Normalize the features (optional, but often recommended)
X_mean = np.mean(X, axis=0)
X_std = np.std(X, axis=0)
X = (X - X_mean) / X_std

# Initialize model parameters (weights and bias)
num_features = X.shape[1]
theta = np.random.randn(num_features)
bias = np.random.randn()

# Set hyperparameters
learning_rate = 0.01
num_epochs = 1000

# Define the cost function (mean squared error)
def cost_function(X, y, theta, bias):
    predictions = np.dot(X, theta) + bias
    error = predictions - y
    cost = (1 / (2 * len(y))) * np.sum(error**2)
    return cost

# Gradient Descent
for epoch in range(num_epochs):
    # Compute predictions
    predictions = np.dot(X, theta) + bias

    # Compute the gradient for weights and bias
    dtheta = (1 / len(y)) * np.dot(X.T, (predictions - y))
    dbias = (1 / len(y)) * np.sum(predictions - y)

    # Update model parameters
    theta -= learning_rate * dtheta
    bias -= learning_rate * dbias

    # Calculate and print the cost for monitoring
    cost = cost_function(X, y, theta, bias)
    print(f"Epoch {epoch+1}, Cost: {cost}")

print("Final Weights (theta):", theta)
print("Final Bias (bias):", bias)

#### Accuracy Comparison

In [13]:

#RMSE & MSE
from sklearn.metrics import mean_squared_error
mse_LR = mean_squared_error(y_test,yPred_LR)
rmse_LR = np.sqrt(mse_LR)
print("MSE: ",mse_LR)
print("RMSE: ",rmse_LR)

#MAE
from sklearn.metrics import mean_absolute_error
mae_LR = mean_absolute_error(y_test,yPred_LR)
print("MAE: ",mae_LR)

#### Computation of Residual Error

In [14]:
residuals_LR = y_test - yPred_LR

print(residuals_LR)

#Plot the residuals
import matplotlib.pyplot as plt
plt.scatter(y_test,residuals_LR)
plt.xlabel("y_test")
plt.ylabel("residuals_LR")
plt.show()

## Polynomial Regression

In [15]:
#Polynomial Regression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error


rmse_Values = [] #List to store the RMSE values for different degree of polynomial
degrees = list(range(1, 11)) #List to store the degree of polynomial

for i in range(1,11):
    poly_features = PolynomialFeatures(degree=i) #Create a PolynomialFeatures object of degree i
    X_train_poly = poly_features.fit_transform(x_train) #Transform the training set
    X_test_poly = poly_features.transform(x_test) #Transform the test set
    poly_model = LinearRegression() #Create a LinearRegression object
    poly_model.fit(X_train_poly, y_train) #Fit the model on the training set
    y_pred_poly = poly_model.predict(X_test_poly) #Predict the test set
    rmse = np.sqrt(mean_squared_error(y_test,y_pred_poly)) #Calculate the RMSE value
    rmse_Values.append(rmse) #Append the RMSE value to the list
    print("RMSE for degree "+str(i)+" is "+str(rmse)) #Print the RMSE value

#Change list to array to plot the values
print(rmse_Values)

rmse_Values = np.array(rmse_Values)
degrees = np.array(degrees)


#Plotting the RMSE values with degree
import matplotlib.pyplot as plt
plt.figure() #Create a new figure
plt.plot(degrees,rmse_Values,marker='o') #Plot the RMSE values
plt.title('RMSE VS Polynomial Degree') #Set the title of the plot
plt.xlabel('Polynomial Degree') #Set the x label of the plot
plt.ylabel('RMSE') #Set the y label of the plot
plt.grid(True) #Set the grid for the plot
plt.show() #Display the plot

#### Computation of Residual Error

In [16]:
residuals_poly = y_test - y_pred_poly

print(residuals_poly)

#Plot of residuals
import matplotlib.pyplot as plt
plt.scatter(y_test,residuals_poly)
plt.xlabel("y_test")
plt.ylabel("residuals_poly")
plt.show()